form {
  margin-bottom: 2rem;
  display: flex;
  justify-content: left;
}

input {
  font-size: 14px;
  margin-right: 5px;
  width: 250px;
}

button {
  font-size: 14px;
}

#error-message {
  margin-left: 5px;
}